.button-group {
  display: flex;
  gap: 15px;
}

.navbar-logo {
  padding: 0;
  margin-left: 20px;
  width: 150px;
  opacity: 0.9;
  height: auto;
}

.navbar-logo:hover {
  cursor: pointer;
}

.search-form {
  margin: 0px 20px 0px;
}

.button-group button:hover {
  background-color: crimson;
}
